/*
 * ===============================================
 * 2026 MWD WNET Main Theme Styles
 * ===============================================
 *
 * This stylesheet defines the visual presentation for the 2026 MWD WNET Main Theme, which is used across various donation forms and pages. It includes styles for form elements, buttons, and layout to ensure a cohesive and user-friendly experience for donors.
 *
 * Version: 1.0.0
 * Last Updated: 2026-28-01
 * 
 *
 */

* {
  box-sizing: border-box;
}

/* 
**
Committee Default 
**
*/

:root {
  --font-family-primary: Arial, Helvetica, sans-serif;
  --font-size-body: 1rem;
  --line-height-body: 1.5;
  --color-text: #333333;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-link: #007DA3;
  --spacing-standard: 1rem;
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
  line-height: var(--line-height-body);
  color: var(--color-text);

}


.st-WNET {
  /* 007DA3 */
  --button-selected-bg-color: #007DA3;
  --build-page-content-anchor: #007DA3;
  --amount-selected-bg: #007DA3;
  --amount-selected-bg-hover: #007DA3;
  --btn-at-primary: #007DA3;
  --btn-at-primary-hover: #2538c4;
  --copy-color: #000000;
  --font-family-primary: Arial, Helvetica, sans-serif;
}

.st-NantionFundraising {
  /* 007DA3 */
  --button-selected-bg-color: #007DA3;
  --build-page-content-anchor: #007DA3;
  --amount-selected-bg: #007DA3;
  --amount-selected-bg-hover: #007DA3;
  --btn-at-primary: #007DA3;
  --btn-at-primary-hover: #2538c4;
  --copy-color: #000000;
  --font-family-primary: Arial, Helvetica, sans-serif;
}

.st-THIRTEEN {
  /* 007DA3 */
  --committee-main-color: #b51f22;
  --button-selected-bg-color: #007DA3;
  --build-page-content-anchor: #007DA3;
  --amount-selected-bg: #007DA3;
  --amount-selected-bg-hover: #007DA3;
  --btn-at-primary: #007DA3;
  --btn-at-primary-hover: #2538c4;
  --copy-color: #000000;
  --font-family-primary: Arial, Helvetica, sans-serif;
  --pp-cuslb-bg: #007DA3;
  --pp-cuslb-btn-bg: var(--committee-main-color);
  --pp-cuslb-btn-bg-hover: #ffffff;

}

.st-WLIW {
  /* 007DA3 */
  --button-selected-bg-color: #007DA3;
  --build-page-content-anchor: #007DA3;
  --amount-selected-bg: #007DA3;
  --amount-selected-bg-hover: #007DA3;
  --btn-at-primary: #007DA3;
  --btn-at-primary-hover: #2538c4;
  --copy-color: #000000;
  --font-family-primary: Arial, Helvetica, sans-serif;
}

.st-NJTV {
  /* 008A00 */
  --button-selected-bg-color: #008A00;
  --build-page-content-anchor: #008A00;
  --amount-selected-bg: #008A00;
  --amount-selected-bg-hover: #008A00;
  --btn-at-primary: #008A00;
  --btn-at-primary-hover: #2538c4;
  --copy-color: #000000;
  --font-family-primary: Arial, Helvetica, sans-serif;
}

.allarts {
  /* CE66DD  */
  --button-selected-bg-color: #CE66DD;
  --build-page-content-anchor: #CE66DD;
  --amount-selected-bg: #CE66DD;
  --amount-selected-bg-hover: #CE66DD;
  --btn-at-primary: #CE66DD;
  --btn-at-primary-hover: #2538c4;
  --copy-color: #000000;
  --font-family-primary: Arial, Helvetica, sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-primary);
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-black);
}

p {
  font-size: var(--font-size-body);
  margin-bottom: var(--spacing-standard);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*************
*************
     
  .at.ngp-form
      
*************  
**************/

.at.ngp-form {
  max-width: 1080px;
  background-color: #ffffff;
  font-family: var(--font-family-primary);
}

.at-fields {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.at.ngp-form .at-fieldset legend.at-legend {
  font-size: 1.25rem;
}

.at.ngp-form legend.at-legend {
  margin: 0;
}

.at.ngp-form label {
  font-size: 1rem;
}

.at.ngp-form .at-form-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 540px;
  min-width: 540px;
  padding: 2.625rem 1.625rem;
}

.at.ngp-form .FooterHtml {
  max-width: 540px;
  min-width: 540px;
}

label.YesSignMeUpForUpdatesForBinder {
  padding-top: 20px;
}

/*************
*************
  
  Fast Action Block 
  
*************  
**************/

.at.ngp-form div.fastaction-block {
  display: none;
}

/*************
*************

Selected Frequency

*************  
**************/

.at.ngp-form .form-item-selectedfrequency .radios {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.at.ngp-form .at-radio-label-4,
.at.ngp-form .at-radio-label-0 {
  width: 50%;
  padding: 8px 10px;
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
  color: var(--color-black);
  border: 2px solid #999999;
}

.at-radio-label-4>input,
.at-radio-label-0>input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.at.ngp-form .at-radio-label-4:hover,
.at.ngp-form .at-radio-label-0:hover,
.at.ngp-form label.freqChecked:hover,
label.freqChecked:hover,
.freqChecked:hover {
  background-color: var(--button-selected-bg-color);
  color: var(--color-white);
  border: 2px solid var(--button-selected-bg-color);
}

.at.ngp-form label.freqChecked,
label.freqChecked,
.freqChecked {
  background-color: var(--button-selected-bg-color);
  color: var(--color-white);
  border: 2px solid var(--button-selected-bg-color);
}


/*************
*************

 /Selected Frequency

 *************  
**************/

/*************
*************

/SelectAmount Styles
 - .at.ngp-form .label-amount

*************  
**************/

.at.ngp-form .label-amount,
.at.ngp-form .label-amount.long,
.at.ngp-form .label-amount.veryLong,
.at form .label-amount.veryLong {
  font-size: 16px;
  line-height: 2;
}

.at.ngp-form .label-amount,
.at.ngp-form .label-amount.label-otheramount,
.at.ngp-form .label-amount:nth-child(4n+4) {
  width: 31.333%;
  margin: 7px 1%;
  justify-content: center;
  align-items: center;
  color: #000000;
}

/* Styles when an amount is selected */
.at.ngp-form .label-amount:hover,
.at.ngp-form .label-amount:hover>a,
.at.ngp-form .label-amount:hover.long .at.ngp-form .label-amount>a:hover,
.at.ngp-form .label-amount input[type="radio"]:checked+a,
.at.ngp-form .label-amount input[type="radio"]:checked+a label,
.at.ngp-form .label-amount input[type="radio"]:checked~label,
.at.ngp-form .label-amount input:required {
  color: var(--color-white) !important;
  background-color: var(--amount-selected-bg);
  border-color: var(--amount-selected-bg);
  /* font-weight: bold; */
}

.at.ngp-form .label-amount>a {
  background-color: #ffffff;
  border: 2px solid #999999;
  border-radius: 0px;
}

.at.ngp-form .label-amount.error input:required {
  background-color: var(--amount-selected-bg);
}

/*************
*************
  
SelectAmount Styles
- .at.ngp-form .label-amount

*************  
**************/


/*************
*************
  
  Build Page 
  
  fieldset, legend, label, submit button, and footer styling

*************  
**************/

.at.ngp-form .at-radio-set-buttons.at-align-flex-right {
  justify-content: flex-start;
  -webkit-box-pack: start
}

.at.ngp-form .at .at-radio-set-buttons {
  flex-direction: column;
}

.at-fields {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.at.ngp-form .at-fieldset.ContactInformation {
  display: flex;
  flex-direction: column;
}


/* fieldset legend */

.at.ngp-form .at-fieldset {
  padding: 1.25rem;
}

/* fieldset legend */
.at.ngp-form .at-fieldset legend.at-legend {
  font-size: 1.25rem;
}

.at.ngp-form .at-fieldset legend {
  padding-top: 0;
}

.at.ngp-form label {
  font-size: 1rem;
}

.at.ngp-form input,
.at.ngp-form select,
.at.ngp-form textarea,
.at.ngp-form button {
  font-family: var(--font-family-primary);
}


.at.ngp-form .at-form-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 540px;
  min-width: 540px;
  padding: 2.625rem 1.625rem;
}

.at.ngp-form .FooterHtml {
  max-width: 540px;
  min-width: 540px;
}

label.YesSignMeUpForUpdatesForBinder {
  padding-top: 20px;
}


/* Other */
.at.ngp-form .edit-otheramount input[type="number"] {
  padding: 7px 10px 7px 5.5rem;
}

.edit-otheramount input[type="number"] {
  height: 45px;
}

.at.ngp-form .label-amount.label-otheramount {
  border: 2px solid #999999;
  height: 49px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.at.ngp-form .label-amount.label-otheramount::placeholder {
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}

.at.ngp-form .label-amount.label-otheramount:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}

.at.ngp-form .label-amount.label-otheramount::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
  font-weight: bold;
}

/* Other */

/* input fields */
.at.ngp-form input[type="text"],
.at.ngp-form input[type="password"],
.at.ngp-form input[type="date"],
.at.ngp-form input[type="datetime"],
.at.ngp-form input[type="datetime-local"],
.at.ngp-form input[type="month"],
.at.ngp-form input[type="week"],
.at.ngp-form input[type="email"],
.at.ngp-form input[type="number"],
.at.ngp-form input[type="search"],
.at.ngp-form input[type="tel"],
.at.ngp-form input[type="time"],
.at.ngp-form input[type="url"],
.at.ngp-form input[type="color"],
.at.ngp-form textarea,
.at.ngp-form .select2-container--default .select2-selection--single,
.at.ngp-form .at select.required,
.at input[type="file"],
.at input[type="checkbox"],
.at.ngp-form .at select,
.at select,
.at.ngp-form select,
.at.ngp-form label.StateProvince select,
.at.ngp-form .at-radio-set-buttons input[type=radio]:checked+label.at-btn-radio,
.at.ngp-form .at-btn-radio-wrapper.at-btn-radio,
.at.ngp-form .at-radio-set-buttons .at-btn-radio-wrapper label.at-btn-radio.large {
  border-style: solid;
  border-width: 2px;
  border-color: #999999;
  border: 2px solid #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1rem;
}


.at.ngp-form .vgs-input-container iframe:focus {
  border: 2px solid #999999;
}


div.at-radios {
  display: flex;
  flex-flow: wrap;
  margin-top: 0;
  margin: 0 !important;
}

div.at-radios.clearfix {
  margin-top: 0;
  margin: 0 !important;
}

/* SUBMIT BTN */

.at.ngp-form .btn-at-primary {
  display: flex;
  background-color: var(--btn-at-primary);
  font-size: 38px;
  padding: 16px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
}

.at.ngp-form .btn-at-primary:hover {
  background-color: var(--btn-at-primary-hover);
}

.at.ngp-form .at-submit {
  display: flex;
  float: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.at.ngp-form input[type=checkbox]:checked+span:before {
  background-color: var(--btn-at-primary);
  border-color: var(--btn-at-primary);
}

/* SUBMIT BTN */

.at.ngp-form .btn-at-primary {
  display: flex;
  background-color: var(--btn-at-primary);
  font-size: 38px;
  padding: 16px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
}

.at.ngp-form .btn-at-primary:hover {
  background-color: var(--btn-at-primary-hover);
}

.at.ngp-form .at-submit {
  display: flex;
  float: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.at.ngp-form input[type=checkbox]:checked+span:before {
  background-color: var(--btn-at-primary);
  border-color: var(--btn-at-primary);
}

/* SUBMIT BTN */

/* Member ID */

input[title="Member ID"] {
  min-width: 50%;
}

/* Tributes & Gift Memberships  */
.form-item-inhonororinmemoryof div.radios {
  margin: 0 0 20px 0;
  display: flex;
}

div.at-row.at-row-full.EnableTributeGift {
  display: none;
}

.at-tribute-gift .form-item-inhonororinmemoryof * {
  margin: 0;
}

.form-item-inhonororinmemoryof div.radios label {
  padding: 8px 40px;
  font-size: 1.25rem;
  margin-bottom: 10px;
  text-align: center;
  margin: 0;
  color: var(--amount-selected-color-default);
  border: 2px solid #999999;
}


label.at-radio-label-1 {
  margin-left: 20px !important;
}

.RecipientInfoHeaderHtml {
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea[name="NotificationMessage"] {
  min-height: 150px;
}

.at.ngp-form label.honorChecked,
label.honorChecked,
.honorChecked {
  background-color: var(--button-selected-bg-color);
  color: var(--amount-selected-color);
  border: 2px solid var(--button-selected-bg-color);
}


/*************
*************
  
  /Build Page Styles

*************  
**************/


/*************
*************
  
Embedded Styles

*************  
**************/


/* Embedded */
/* Other Amount Input */
.at.ngp-form .label-amount .edit-otheramount {
  border: none;
  height: 100%;
  border-radius: 0;
  color: #ffffff;
  position: relative;
  text-align: center;
  top: 0;
  left: 0;
}

.at.ngp-form .error small.error {
  position: relative;
  z-index: 100;
  margin-top: 0px;
}



/*************
*************
  
 Mobile Responsiveness

@media only screen and (max-width: 30em) {}

@media only screen and (max-width: 40em) {}

*************  
**************/

@media only screen and (max-width: 30em) {


  .at.ngp-form .at-radio-set-buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .at-btn-radio-wrapper, .at-credit-card-button-wrapper, .at-paypal-button-wrapper {
    margin: 0 !important;
  }

  .at.ngp-form .label-amount,
  .at.ngp-form .at-row>[class^=at-] {
    margin: 0;
  }

  .at.ngp-form form .label-amount {
    width: 100% !important;
    max-width: 100% !important;
    margin: 6px 4px !important;
  }

  fieldset.ContactInformation>div.at-fields {
    padding-bottom: 20px;
  }

  .at.ngp-form .label-amount.label-otheramount {
    width: 100% !important;
  }

}

@media only screen and (max-width: 40em) {

  .at.ngp-form .at-radio-set-buttons {
    flex-direction: column;
  }

  .at.ngp-form .at-fieldset {
    padding: 1.25rem 0.525rem;
  }

  .at.ngp-form .at input[type=checkbox]+span {
    padding: 0;
  }


  .at.ngp-form .at-form-submit,
  .at.ngp-form .at-form-submit .btn-at-primary {
    max-width: 100%;
    min-width: 100%;
    padding: 1.625rem 0.625rem;
    font-size: 28px;
  }

  .at.ngp-form .label-amount.label-otheramount {
    width: 48% !important;
  }

    .at-btn-radio-wrapper, .at-credit-card-button-wrapper, .at-paypal-button-wrapper {
    margin: 0 !important;
  }
}